.div1{
   margin: auto !important;
    margin-top: 5%;
    box-shadow: 5px 5px 30px 20px rgb(53, 53, 53) ;
    border-radius: 10%;
    
    
    
}
body,html{
    height: 100%;
}
body{
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1539622287262-61e066a2c534?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGF0bXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* .di{
    margin: auto !important;
    text-align: center !important;
    justify-content: center;
} */
.div2{
    /* width: 70%; */
    /* height: 100%;
    border: thin solid white; */
    
    
}
.btn{
    height: 70px;
    font-size: 15px !important;
    box-shadow:2px 0px 10px 3px rgb(92, 92, 92) inset;;
    font-weight: bold !important;
    border: none !important;
}
.input{
    /* width: 100%; */
    height: 150px !important;
    font-size: 40px;
    margin-top: 15% !important;
    box-shadow:2px 0px 10px 3px rgb(92, 92, 92) inset;;
    border: none !important;
}
#disp{
    /* width: 100%; */
    font-size: 30px;
    background-color: whitesmoke;
    margin-top: 5%; 
}
body{
    background-color:white ;
    
}
